h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

#tophead {
    color: rgb(205, 200, 200);
}

#cross {
    color: rgb(205, 200, 200);
}

.head {
    background-color: dodgerblue;
    height: 600px
}

.card {
    background-color: white;
    width: 25%
}

p {
    text-align: left;
}

button {
    margin: 5px;
    width: 250px;
}